@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #f5f3e7;
  --text-light: #333;
  --background-dark: #000;
  --text-dark: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.light {
  background-color: var(--background-light);
  color: var(--text-light);
}

.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
